@use "../styles/variables";

.admin {
  width: 100%;

  .header {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(51, 51, 51);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

    button {
      border: none;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
    }

    .section_1 {
      display: flex;

      button {
        color: white;
        background-color: variables.$primary-red;
      }
    }

    .section_2 {
      display: flex;
      align-items: center;
      gap: 20px;

      p {
        color: white;
      }

      object,
      img {
        cursor: pointer;
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
}

.container {
  width: 100%;
  padding: 50px 0;

  main {
    width: 70%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      & {
        width: 90%;
      }
    }

    h2 {
      width: fit-content;
      padding: 5px 20px;
      color: white;
      background-color: variables.$primary-green;
      margin-bottom: 40px;
      border-radius: 5px;
    }

    .posts {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

.admin_login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  main {
    border-radius: 5px;
    padding: 30px;
    width: 50%;
    height: fit-content;
    margin: auto;
    background-color: variables.$primary-green;
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
    @media only screen and (max-width: 600px) {
      & {
        width: 80%;
      }
    }

    h2 {
      width: 80%;
      color: white;
      text-align: center;
      margin: 0 auto 30px auto;
      border-bottom: 1px solid white;
    }

    .inputs {
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      input,
      button {
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        border: none;
        font-size: 16px;

        &:focus {
          outline: none;
        }
      }

      button {
        box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
        font-weight: bold;
        cursor: pointer;
        background-color: variables.$primary-red;
        color: white;
      }
    }
  }
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
}
